.box {
    width: 400px;
    height: auto;
    border: 1px solid transparent;
    background: 
      linear-gradient(rgb(8, 5, 5), rgb(1, 1, 1)) padding-box,
      repeating-linear-gradient(-45deg, 
        rgb(255, 255, 255) 0, rgb(255, 255, 255) 25%, 
        transparent 0, transparent 50%) border-box;
    animation: move 5s linear infinite;
    background-size: 1em 1em; 
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1em 1em;
    }
  }
  
  .img{

    padding: 10px;
  }
  